@import url('https://fonts.googleapis.com/css?family=Kalam:400,700');

html {
    background-color: $dark-gray;
    color: $light-gray;
    font-family: 'Kalam', sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

main {
    margin-bottom:100px;
}