/*****************************
Typography
*****************************/
$font-family-sans-serif: "Kalam", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

/*****************************
Colors
*****************************/
$white: rgb(255, 255, 255);
$light-gray: rgb(230, 230, 230);
$gray: rgb(150, 150, 150);
$dark-gray: rgb(52, 58, 64);
$black: rgb(0, 0, 0);
$blue: rgb(52, 144, 220);
$indigo: rgb(101, 116, 205);
$purple: rgb(149, 97, 226);
$pink: rgb(245, 111, 156);
$red: rgb(227, 52, 47);
$orange: rgb(246, 153, 63);
$yellow: rgb(255, 237, 74);
$green: rgb(56, 193, 114);
$teal: rgb(77, 192, 181);
$cyan: rgb(108, 178, 235);

$color-blue: rgb(0, 123, 255);
$color-blue-dark: rgb(0, 68, 139);
$color-blue-light: rgb(58, 153, 252);
$color-dark: rgb(35,35,35);
$color-light: rgb(225,225,225);
$color-success: rgb(125, 210, 33);
$color-danger: rgb(249, 215, 218);
